body {
  line-height: 20px;
  /* background-color: #E6EAE8; */
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 50px;
  background-color: #20aae5;
  /* border-bottom: 0.25em solid #1894ca; */
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fix;
  z-index: 10;
}

.logo a {
  font-family: 'Kalam';
  margin-left: 20px;
  font-size: 150%;
  position: relative;
  top: 13px;
  color: #1086BA;
  /* text-shadow: #73B6E2 0.5px 0.5px 0px; */
}

a:hover {
  text-decoration: none;
}
a{
    text-decoration: none;
    color:#20AAE5;
}
nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
}

nav a：hover {
  border-bottom: 7px solid;
}

#name {
  color: #217da5;
  font-style: italic;
  font-size: 100%;
  font-family: 'Merienda';
}a

#navname {
    font-family: 'Merienda';
    font-style: italic;
}
/******************************************/


.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 60%;
  min-width: 900px;
}
/******************************************/

.column {
  background-color: #fff;
  padding: 8px;
  z-index: -1;
  /* border-radius: 5px; */
}

.user_details {
  width: 30%;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {

  display: inline-block;
  position: absolute;
  float:left;
}

.user_details img {
  height: 100px;
  /* border-radius: 5px; */
  margin-right: 5px;
}
/*******************************/
.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 250px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 80%;
  height: 60px;
  /* border-radius: 3px; */
  margin-right: 5px;
  padding: 15px;
}

.post_form input[type='submit'] {
  width: 10%;
  height: 60px;
  border: none;
  color: #fff;
  /* border-radius: 5px; */
  background-color: #3498db;
  font-family: 'Merienda';
  /* text-shadow: #73B6E2 0.5px 0.5px 0px; */
  font-size: 120%;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_form input[type='submit']:active {
  padding: 6px 5px 5px 6px;
  color: #73B6E2;
}
/*******************************/
.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0 5px;
    min-height: 75px;
    cursor: pointer;

}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}
/***********************************/
#comment_iframe{
    max-height: 250px;
    width: 100%;
}

.comment_section {
    font-size:90%;

}

.comment_section img {
    padding:0px 5px 5px 5px;
}
.comment_section a{
    text-decoration: none;
}

#comment_form textarea {
    width:85%;
    height: 35px;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type='submit'] {
    background-color: #3498db;
    border: none;
    color:#fff;
    width: 13%;
    height: 40px;
    margin: 3px;
    position: absolute;
    font-family: 'Merienda';
    font-style: italic;
}
.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    border: none;
}
/*******************************/
.newsfeedPostOptions iframe {
    border: 0;
    height: 17px;
    width: 120px;
}
.newsfeedPostOptions form {
    position:absolute;
    top:0;
}

.comment_like {
    background-color: #fff;
    border:none;
    font-size: 14px;
    color: #3498db;
    padding:0;
    height:auto;
    width:auto;
    margin:0;
}

.like_value {
    display: inline;
    font-size: 14px;
}
/*  */
.profile_left {
    top: -60px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 1000px;
    float: left;
    position: relative;
    background-color:#37B0E9;
    border-right: 10px solid #83D6FE;
    color: #fff;
    margin-right: 20px;
}
.profile_left img {
    min-width: 80px;
    width: 55%;
    border: 5px solid #83D6FE;
    border-radius:100px;
    margin:20px;
}

.profile_info {
    display: list-item;
    background-color: #2980b9;
    width:100%;
    padding:10px 0 10px 0;
}

.profile_info p {
    margin: 0 0 0 20px;
    word-wrap: break-word;
}
